<div class="row books">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="{{ interval }}">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-caption">
                <h1>{{title}}</h1>
            </div>
            <div class="item {{ theme }}" ng-class='{active:$first}' ng-repeat="books in booksList">
                <div class="item-container">
                    <div class="book-body" ng-repeat="book in books">
                        <a href="#/book/{{book.id}}">
                                <img src="{{book.image}}" class="book-image" alt="">
                                <h5>{{book.title}}</h5>
                                <p class="book-info">By: {{book.author}}
                                    <br>
                                    Review By {{book.reviewedBy}}
                                </p>
                            </a>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#/" onclick="$('#myCarousel').carousel('next');" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
            <a class="right carousel-control" href="#/" onclick="$('#myCarousel').carousel('next');" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
    </div>
</div>